@if (type === 'boat') {
<input
  [(ngModel)]="deviceName"
  type="text"
  class="boat-name-selector mb-2"
/><button type="button" (click)="changeDeviceName()">Change</button>
<input
  [(ngModel)]="callSign"
  type="text"
  class="call-sign-selector mb-2"
/>
<button type="button" (click)="changeDeviceName()">Change</button>
}

@if (type === 'station') {
  <textarea [(ngModel)]="keywords" placeholder="Insert comma separated keywords"></textarea>
}
<form
  #form="ngForm"
  (submit)="sendMessage() && form.resetForm()"
  [formGroup]="messageForm"
  class="mt-1"
>
  <textarea
    class="message-control"
    placeholder="Enter message here"
    formControlName="message"
  ></textarea>
  @if(messageForm.controls.message.invalid && form.submitted){
  <p class="text-danger">Please provide a valid message entry</p>
  }

  <button class="d-block" type="submit">Send</button>
</form>
<h6 class="messages mt-3">Messages</h6>
<ul class="list-group">
  @for (message of messages; track $index) {
  <li class="list-group-item font-small">
    {{ message.deviceName }} ({{ message.callSign }})
    {{ message.timestamp | date : "short" : "UTC" }}: {{ message.message }}
  </li>
  } @empty { There are no messages }
</ul>
