<input [(ngModel)]="deviceName" type="text" class="boat-name-selector" />
<input [(ngModel)]="callSign" type="text" class="call-sign-selector" />

<form (submit)="sendMessage()" [formGroup]="messageForm">
  <textarea placeholder="Enter message here" formControlName="message"></textarea>
  <button class="d-block" type="submit">Send</button>
</form>

<ul>
  @for (message of messages; track $index) {
  <li>
    {{ message.timestamp | date }} {{ message.boatCallSign }}
    {{ message.deviceName }}: {{ message.message }}
  </li>
  }
</ul>
