<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 p-4 d-flex justify-content-center">
      <rescue-station class="flex-grow-1" [name]="rescueStationName">
        <safety-dashboard>
          <safety-radio
            type="station"
            [name]="rescueStationName"
          ></safety-radio>
          <safety-radar [name]="rescueStationName"></safety-radar>
        </safety-dashboard>
      </rescue-station>
    </div>

    @for (boatName of boats; track $index) {
    <div
      class="col-12 col-lg-4 p-4 d-flex justify-content-center water-background"
    >
      <boat
        [name]="safetyRadio.receivedName"
      >
        <safety-dashboard>
          <safety-radio #safetyRadio [name]="boatName"></safety-radio>
        </safety-dashboard>
      </boat>
    </div>
    }
  </div>
</div>

<router-outlet></router-outlet>
